$success-color:#B1D781;
$secondary-color:#FAD02F;
$primary-color:#2BAB60;

.borderB_succes {
	border-bottom: 5px solid $success-color;
}
.borderB_secondary{
	border-bottom: 5px solid $secondary-color;
}
.borderB_primary{
	border-bottom: 5px solid $primary-color;
}