<form>
	<div class="small-12 medium-6 columns">
		<div class="row">
		 	<div class="columns">
		 		<label>Empresa:</label>
		 		<div class="switch">
				  <input class="switch-input" id="company?" type="checkbox">
			    <label class="switch-paddle" for="company?">
			      <span class="switch-active" aria-hidden="true">Si</span>
			      <span class="switch-inactive" aria-hidden="true">No</span>
			    </label>
				</div>
		 	</div>
		 	<div class="columns">
		 		<div class="columns">
			 		<label>Administrador:</label>
			 		<div class="switch">
					  <input class="switch-input" id="admin?" type="checkbox">
				    <label class="switch-paddle" for="admin?">
				      <span class="switch-active" aria-hidden="true">Si</span>
				      <span class="switch-inactive" aria-hidden="true">No</span>
				    </label>
					</div> 
		 		</div>
		 	</div>
	 	</div>
 	</div>
 	<hr>
 	<!-- Personal -->
 	<fieldset class="fieldset borderB_succes">
 		<legend>Datos Personales</legend>
		 	<div class="row">
			 	<div class="small-12 medium-6 columns">
				 	<div class="columns text-center">
				 		<label>RFC:</label>
				 		<input type="text" placeholder="RFC">
				 	</div>
			 	</div>
			 	<div class="small-12 medium-6 columns">
				 	<div class="columns text-center">
				 		<label>Nombre:</label>
				 		<input type="text" placeholder="Nombre">
				 	</div>
			 	</div>
		 	</div>
		 	<div class="row">
	 		 	<div class="small-12 medium-6 columns">
	 			 	<div class="columns text-center">
	 			 		<label>
	 			 		Email:</label>
	 			 		<input type="text" placeholder="Email">
	 			 	</div>
	 		 	</div>
	 		 	<div class="small-12 medium-6">
	 			 	<div class="row">
	 				 	<div class="small-12 medium-6 columns">
	 					 	<div class="columns text-center">
	 					 		<label>Edad:</label>
	 					 		<input type="number" placeholder="Edad">
	 					 	</div>
	 				 	</div>
	 				 	<div class="small-12 medium-6 columns">
	 					 	<div class="columns text-center">
	 					 		<label>Genero:</label>
	 					 		<input type="text" placeholder="Genero">
	 					 	</div>
	 			 		</div>
	 		 		</div>
	 		 	</div>
		 	</div>
 	</fieldset>
	
	<!-- Location -->
 	<fieldset class="fieldset borderB_secondary">
 		<legend>Dirección</legend>
 		<div class="row">
	 		<div class="small-12 medium-6 columns">
			 	<div class="columns">
			 		<label>Sector:</label>
					  <select>
					    <option value="husker">Husker</option>
					    <option value="starbuck">Starbuck</option>
					    <option value="hotdog">Hot Dog</option>
					    <option value="apollo">Apollo</option>
					  </select>
			 	</div>
		 	</div>
		 	<div class="small-12 medium-6 columns">
			 	<div class="columns text-center">
			 		<label>Domicilio:</label>
			 		<input type="text" placeholder="Domicilio">
			 	</div>
		 	</div>
		 	<div class="small-12 medium-6 columns">
			 	<div class="columns">
			 		<label>Colonia:</label>
					  <select>
					    <option value="husker">Husker</option>
					    <option value="starbuck">Starbuck</option>
					    <option value="hotdog">Hot Dog</option>
					    <option value="apollo">Apollo</option>
					  </select>
			 	</div>
		 	</div>
	 	</div>
 	</fieldset>
	
	<!-- Image -->
 	<fieldset class="fieldset borderB_primary">
 		<legend>Imagenes</legend>
 	</fieldset>
</form>