<div class="row expanded app-dashboard-top-nav-bar">
  <div class="columns medium-2" *ngIf="isUserLoggedIn">
    <button data-toggle="app-dashboard-sidebar" class="menu-icon hide-for-medium"></button>
    <a class="app-dashboard-logo hide-for-small-only"><img src="assets/logopv.jpg" alt="Logo"></a>
  </div>
  <div class="columns show-for-medium" *ngIf="isUserLoggedIn">
    <div class="app-dashboard-search-bar-container">
      Bienvenido Admin!
    </div>
  </div>
  <div class="columns shrink app-dashboard-top-bar-actions" *ngIf="isUserLoggedIn">
    <button href="#" class="button hollow">Logout</button>
    <a href="#" height="30" width="30" alt=""><i class="fa fa-info-circle"></i></a>
  </div>
</div>
