<div class="align-spaced">
	<div class="columns">
		<h3>Usuarios</h3>
		<hr>
	</div>
</div>
<div class="row align-spaced">
	<div class="small-12 medium-9 columns">
		<a routerLink="add" class="button primary float-right">
      <i class="fa fa-plus fa-fw"></i>  Agregar
    </a>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
    <div class="row">
      <div class="shrink columns">
        <form #searchForm="ngForm" (ngSubmit)="search()" novalidate>
          <input type="text" name="searchString" placeholder="Buscar..." [(ngModel)]="searchString" (keyup)="resetSearch()">
        </form>
      </div>
      <div class="expand columns">
        <div class="button-group no-margin" *ngIf="willPaginate">
          <button type="button" class="button blue" (click)="prevPage()" [disabled]="currentPage == 1">
            <i class="fa fa-caret-left fa-fw"></i>
          </button>
          <button type="button" class="button blue" (click)="nextPage()" [disabled]="!showNext">
            <i class="fa fa-caret-right fa-fw"></i>
          </button>
        </div>
      </div>
      <div class="shrink columns" *ngIf="willPaginate">
        <span class="helper-text">
          Pagina {{ currentPage }} de {{ totalPages }}
        </span>
      </div>
    </div>
		<table class="stack">
		  <thead>
		    <tr>
		      <th width="200">Nombre</th>
		      <th>Email</th>
		      <th width="150">Role</th>
		      <th width="150">Puntos</th>
		      <th width="150">Acciones</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr *ngFor="let user of users">
		      <td><a [routerLink]="['show', user.uuid]">{{ user.name }}</a></td>
		      <td><a [routerLink]="['show', user.uuid]">{{ user.email }}</a></td>
		      <td><span class="label" [ngClass]="user.role">{{ user.role }}</span></td>
		      <td>{{ user.points }}</td>
		      <td colspan="2">
		      	<a [routerLink]="['edit', user.uuid]" class="button small warning">
		      		<i class="fa fa-pencil"></i>
		      	</a>
		      	<a (click)="deleteUser(user.uuid)" class="button small alert">
		      		<i class="fa fa-times"></i>
		      	</a>
		      </td>
		    </tr>
		  </tbody>
    </table>
    <div class="small-12 columns" *ngIf="willPaginate">
      <div class="button-group">
        <button type="button" class="button blue" (click)="prevPage()" [disabled]="currentPage == 1">
          <i class="fa fa-caret-left fa-fw"></i>
        </button>
        <button type="button" class="button blue" (click)="nextPage()" [disabled]="!showNext">
          <i class="fa fa-caret-right fa-fw"></i>
        </button>
      </div>
    </div>
	</div>
</div>
