<div class="row align-spaced">
	<div class="columns">
		<h3>Usuarios</h3>
		<hr>
	</div>
</div>
<div class="row align-spaced">
	<div class="small-12 medium-9 columns">
		<a routerLink="add" class="button primary float-right">Agregar</a>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<table class="stack">
		  <thead>
		    <tr>
		      <th width="200">Nombre</th>
		      <th>Email</th>
		      <th width="150">Role</th>
		      <th width="150">Puntos</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr *ngFor="let user of users">
		      <td>{{ user.name }}</td>
		      <td>{{ user.email }}</td>
		      <td>{{ user.role }}</td>
		      <td>{{ user.points }}</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>
