<div class="row" *ngIf="loading.all">
	<div class="small-12 medium-3 text-center columns">
		<img *ngIf="user.assets && user.assets.length" src="{{ user.assets[0] | cloudinaryUrl : 'profile_300x250'}}" alt="Profile">
		<img *ngIf="user.assets && !user.assets.length" src="http://icons.iconarchive.com/icons/icons8/ios7/512/Users-User-Male-2-icon.png" alt="Profile">
	</div>
	<div class="small-12 medium-7 medium-offset-1 columns">
		<div class="row align-center">
			<div class="column align-self-middle user-points">
				<span>{{ userPoints }}</span> <span class="subheader">Puntos.</span>
			</div>
			<div class="column align-self-middle text-center">
				<div class="panel callout" [ngClass]="user.role">
					<span>{{ user.role }}</span>
				</div>
			</div>
		</div>
		<br><br>
		<ul class="accordion">
			<li>Nombre: <span class="float-right">{{ user.name }}</span></li>
			<hr>
			<li>Email: <span class="float-right">{{ user.email }}</span></li>
			<hr>
			<li>
				<div class="row align-center">
					<div class="small-6 small-centered column text-center borderR1rem">
						<div class="small-12">
							Edad:
						</div>
						<div class="small-12 user-age">
							<span>{{ user.age }}</span>
						</div>
					</div>
					<div class="small-6 small-centered column text-center">
						<div class="small-12">
							Genero:
						</div>
						<div class="small-12">
							<span> <i [ngClass]="getGenreLabel()"></i> </span>
						</div>
					</div>
				</div>
			</li>
			<hr>
			<li>Telefono <span class="float-right">{{ user.phone }}</span></li>
			<hr>
			<li>Domicilio <span class="float-right">{{ user.address }}</span></li>
		</ul>
	</div>
	<div class="small-12 columns" *ngIf="user.sector">
		<h3 class="">Sector</h3>
		<table>
			<thead>
				<th>Nombre</th>
			</thead>
			<tbody>
				<tr>
					<td>{{ user.sector.name }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="small-12 columns">
		<hr>
		<div class="float-right">
			<a [routerLink]="['/users/edit', user.uuid]" class="button warning large">
				<i class="fa fa-pencil fa-fw"></i> Editar
			</a>
			<button (click)="deleteUser(user.uuid)" class="button alert large">
				<i class="fa fa-times fa-fw"></i> Borrar
			</button>
			<button class="button primary large">
				<i class="fa fa-refresh fa-fw"></i> Resetear Contraseña
			</button>
		</div>
	</div>
</div>
<div *ngIf="!loading.all" class="row">
	<i class="fa fa-spinner fa-pulse fa-3x float-center"></i>
</div>
