@import '../../assets/foundation-sites/_global.scss';

$footer-card-color: #2c3840;
$primary-color-blue: #1779ba;

h5 {
  margin-top: 10%;
  font-size: 3rem;
  color: $light-gray;
}
.card {
  box-shadow: 1px 0px 12px -5px #0a0a0a;
  .card-header {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    &.primary {
      background: $primary-color-blue;
      color: $white;
    }
  }
  .card-section-footer {
    overflow: hidden;
    margin: 1rem -1rem -1rem;
    padding: .8rem 1rem 0 0;
    &.primary {
      background: $primary-color-blue;
    }
  }
}

.list-value {
  font-size: 1.1rem;
  font-weight: bold;
  .label {
    color: white;
  }
}

.borderB_soft-gray {
  border-bottom: 2px solid $light-gray;
 }

 .scrap-item {
   margin-bottom: 1rem;
   border-bottom: 5px solid $light-gray;
   @include breakpoint(medium up) {
     &:nth-last-child(-n+3) {
       border-bottom: none;
     }
   }
   @include breakpoint(small only) {
    &:last-child {
      border-bottom: none;
    }
   }
 }
