<div id="app-dashboard-sidebar" class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas>
  <div class="app-dashboard-sidebar-title-area">
    <div class="app-dashboard-open-sidebar">
      <button id="open-sidebar" data-app-dashboard-toggle-shrink class="app-dashboard-open-sidebar-button show-for-medium" aria-label="open menu" type="button">
        <span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-right"></i></a></span>
      </button>
    </div>
  </div>
  <div class="app-dashboard-sidebar-inner">
    <ul class="menu vertical">
      <li routerLinkActive="is-active" class="menu-vertical-item"><a routerLink="home">
        <i class="large fa fa-home"></i><span class="app-dashboard-sidebar-text">Inicio</span>
      </a></li>
      <li routerLinkActive="is-active" class="menu-vertical-item"><a routerLink="users">
        <i class="large fa fa-users"></i><span class="app-dashboard-sidebar-text">Usuarios</span>
      </a></li>
      <li routerLinkActive="is-active" class="menu-vertical-item"><a routerLink="sectors">
        <i class="large fa fa-industry"></i><span class="app-dashboard-sidebar-text">Sectores</span>
      </a></li>
      <li routerLinkActive="is-active" class="menu-vertical-item"><a routerLink="neighborhoods">
        <i class="large fa fa-universal-access"></i><span class="app-dashboard-sidebar-text">Colonias</span>
      </a></li>
      <li routerLinkActive="is-active" class="menu-vertical-item"><a routerLink="scraps">
        <i class="large fa fa-trash"></i><span class="app-dashboard-sidebar-text">Desechos</span>
      </a></li>
      <li routerLinkActive="is-active" class="menu-vertical-item"><a routerLink="/">
        <i class="large fa fa-qrcode"></i><span class="app-dashboard-sidebar-text">Registro</span>
      </a></li>
    </ul>
  </div>
</div>
