<div class="row">
  <div class="columns large-expand">
    <label>Colonia:</label>
    <div class="switch">
      <input class="switch-input" id="neighborhood?" type="checkbox" value="neighborhood" >
      <label class="switch-paddle" for="neighborhood?">
        <span class="switch-active" aria-hidden="Si">Si</span>
        <span class="switch-inactive" aria-hidden="No">No</span>
      </label>
    </div>
    <br>
  </div>

  <div class="small-12" *ngIf="loading.all">
    <ul class="tabs" data-tabs id="example-tabs">
      <li class="tabs-title" *ngFor="let sector of sectors"
          [ngClass]="(activeSector === sector.uuid) ? 'is-active' : ''"
            (click)="setActiveSector(sector)">
        <a>{{ sector.name }}</a>
      </li>
    </ul>
    <div class="tabs-content" data-tabs-content="example-tabs">
      <div class="tabs-panel is-active" id="panel1">
        <form>
          <div class="row">

            <!-- User -->
            <div class="small-12 medium-3 columns text-center register-item">
              <h6>Usuario</h6>
              <hr>
              <div class="column align-self-middle">
                <jaspero-select [options]="users"></jaspero-select>
              </div>
            </div>

            <!-- Scrap -->
            <div class="small-12 medium-3 columns text-center register-item">
              <h6>Material</h6>
              <hr>
              <div class="column align-self-middle">
                <div class="row">
                  <div class="small-6 columns" *ngFor="let scrap of scraps">
                    <button class="button primary text-uppercase text-bold">{{ scrap.name }}</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Kg -->
            <div class="small-12 medium-3 columns text-center register-item">
              <h6>KG</h6>
              <hr>
              <div class="align-self-middle">
                <div class="shrink-padding selected-item">
                  <input type="number">
                </div>
              </div>
            </div>

            <!-- Done -->
            <div class="small-12 medium-3 columns text-center register-item">
              <h6>Listo</h6>
              <hr>
              <div class="column align-self-middle">
                <button class="button success">
                  <i class="fa fa-check fa-fw"></i>
                  Listo!
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
