<div class="row">
  <div class="columns large-expand">
    <label>Colonia:</label>
    <div class="switch">
      <input class="switch-input" id="neighborhood?" type="checkbox" value="neighborhood" >
      <label class="switch-paddle" for="neighborhood?">
        <span class="switch-active" aria-hidden="Si">Si</span>
        <span class="switch-inactive" aria-hidden="No">No</span>
      </label>
    </div>
    <br>
  </div>

  <div class="small-12">
    <ul class="tabs" data-tabs id="example-tabs">
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Sector 1</a></li>
      <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Sector 2</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="example-tabs">
      <div class="tabs-panel is-active" id="panel1">
        <form>
          <div class="row">

            <!-- User -->
            <div class="small-12 medium-3 columns text-center register-item">
              <h6>Usuario</h6>
              <hr>
              <div class="column align-self-middle">
                <button>Hola</button>
                <jaspero-select [options]="options"></jaspero-select>
              </div>
            </div>

            <!-- Scrap -->
            <div class="small-12 medium-3 columns text-center register-item">
              <h6>Material</h6>
              <hr>
              <div class="column align-self-middle">
                <div class="row">
                  <div class="small-6 columns">
                    <button class="button primary">Scrap 1</button>
                  </div>
                  <div class="small-6 columns">
                    <button class="button primary">Scrap 1</button>
                  </div>
                  <div class="small-6 columns">
                    <button class="button primary">Scrap 1</button>
                  </div>
                  <div class="small-6 columns">
                    <button class="button primary">Scrap 1</button>
                  </div>
                  <div class="small-6 columns">
                    <button class="button primary">Scrap 1</button>
                  </div>
                  <div class="small-6 columns">
                    <button class="button primary">Scrap 1</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Kg -->
            <div class="small-12 medium-3 columns text-center register-item">
              <h6>KG</h6>
              <hr>
              <div class="column align-self-middle">
                <div class="row small-up-3 shrink-padding selected-item">
                  <div class="column shrink">
                    <button class="button alert tiny"><i class="fa fa-remove"></i></button>
                  </div>
                  <div class="column shrink_2x">
                    <span>Nombre del desecho</span>
                  </div>
                  <div class="column shrink_2x">
                    <input type="number">
                  </div>
                </div>

                <div class="row small-up-3 shrink-padding selected-item">
                  <div class="column shrink">
                    <button class="button alert tiny"><i class="fa fa-remove"></i></button>
                  </div>
                  <div class="column shrink_2x">
                    <span>Nombre del desecho</span>
                  </div>
                  <div class="column shrink_2x">
                    <input type="number">
                  </div>
                </div>

                <div class="row small-up-3 shrink-padding selected-item">
                  <div class="column shrink">
                    <button class="button alert tiny"><i class="fa fa-remove"></i></button>
                  </div>
                  <div class="column shrink_2x">
                    <span>Nombre del desecho</span>
                  </div>
                  <div class="column shrink_2x">
                    <input type="number">
                  </div>
                </div>

                <div class="row small-up-3 shrink-padding selected-item">
                  <div class="column shrink">
                    <button class="button alert tiny"><i class="fa fa-remove"></i></button>
                  </div>
                  <div class="column shrink_2x">
                    <span>Nombre del desecho</span>
                  </div>
                  <div class="column shrink_2x">
                    <input type="number">
                  </div>
                </div>

                <div class="row small-up-3 shrink-padding selected-item">
                  <div class="column shrink">
                    <button class="button alert tiny"><i class="fa fa-remove"></i></button>
                  </div>
                  <div class="column shrink_2x">
                    <span>Nombre del desecho</span>
                  </div>
                  <div class="column shrink_2x">
                    <input type="number">
                  </div>
                </div>

                <div class="row small-up-3 shrink-padding selected-item">
                  <div class="column shrink">
                    <button class="button alert tiny"><i class="fa fa-remove"></i></button>
                  </div>
                  <div class="column shrink_2x">
                    <span>Nombre del desecho</span>
                  </div>
                  <div class="column shrink_2x">
                    <input type="number">
                  </div>
                </div>

              </div>
            </div>

            <!-- Done -->
            <div class="small-12 medium-3 columns text-center register-item">
              <h6>Listo</h6>
              <hr>
              <div class="column align-self-middle">
                <button class="button success">
                  <i class="fa fa-check fa-fw"></i>
                  Listo!
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
