$blue-color: #1779ba;
$green-color: #2BAB60;
$orange-color: #ffae00;

$background-gray-gt: #f6f8fa;

.no-users-callout{
  background: lighten($orange-color, 40);
  font-size: 1.2rem;
}

.label {
  text-transform: uppercase;
  font-weight: bold;
  &.regular {
		background: $green-color;
	}
	&.admin {
		background: $blue-color;
	}
	&.company {
    background: $orange-color;
    color: black;
	}
}
