<div class="row">
    <div class="small-12 medium-6 columns">
      <h3>Sectores</h3>
      <hr>
      <div class="small-12 medium-9 columns">
          <a routerLink="add" class="button primary float-right">Agregar</a>
      </div>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>Nombre</th>
            <th width="150">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sector of sectors">
            <td>{{sector.uuid}}</td>
            <td>{{sector.name}}</td>
            <td colspan="2">
              <a [routerLink]="['edit', sector.uuid]">Editar</a>
              <a (click)="deleteSector(sector.uuid)">Eliminar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="small-12 medium-6 columns">
      <h3>Colonias</h3>
      <hr>
      <div class="small-12 medium-9 columns">
          <a routerLink="" class="button primary float-right">Agregar</a>
      </div>
      <table>
        <thead>
          <tr>
            <th width="100">Table Header</th>
            <th>Table Header</th>
            <th width="100">Table Header</th>
            <th width="100">Table Header</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Content Goes Here</td>
            <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
            <td>Content Goes Here</td>
            <td>Content Goes Here</td>
          </tr>
          <tr>
            <td>Content Goes Here</td>
            <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
            <td>Content Goes Here</td>
            <td>Content Goes Here</td>
          </tr>
          <tr>
            <td>Content Goes Here</td>
            <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
            <td>Content Goes Here</td>
            <td>Content Goes Here</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
